<h1>Editing Performance Evaluation</h1>

<%= render 'form', performance_evaluation: @performance_evaluation %>

<%= link_to 'Show', @performance_evaluation %> |
<%= link_to 'Back', performance_evaluations_path %>
